adafruit-ampy==1.1.0
bitarray==2.9.2
bitstring==4.1.4
blinker==1.8.2
cffi==1.16.0
click==8.1.7
colorama==0.4.6
comtypes==1.1.13
cryptography==42.0.5
ecdsa==0.18.0
entities==1.0.0
esptool==4.7.0
Flask==3.0.3
intelhex==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
numpy==2.1.1
pandas==2.2.3
PyAudio==0.2.12
pycparser==2.21
pypiwin32==223
pyserial==3.5
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pyttsx3==2.90
pytz==2024.2
pywin32==304
PyYAML==6.0.1
reedsolo==1.7.0
six==1.16.0
SpeechRecognition==3.7.1
tzdata==2024.2
unicorn==2.0.1.post1
Werkzeug==3.0.4
